= javascript_pack_tag 'reservation_frame/application', 'data-turbolinks-track': 'reload'
%h2= t ".title"
- tomorrow = @day.tomorrow
- yesterday = @day.yesterday
= link_to t('.yesterday'), reservation_frames_path(yyyy: yesterday.strftime("%Y"), mm:yesterday.strftime("%m"), dd:yesterday.strftime("%d"))
= link_to t('.today'), reservation_frames_path(yyyy: @day.strftime("%Y"), mm:@day.strftime("%m"), dd:@day.strftime("%d"))
= link_to t('.tomorrow'), reservation_frames_path(yyyy: tomorrow.strftime("%Y"), mm:tomorrow.strftime("%m"), dd:tomorrow.strftime("%d"))
= form_with model:@reservation_frames, url: reservation_frames_path do |form|
  = form.submit t('regist'), class: "btn btn-primary btn-sm"
  .row
    .col
      .row.border{ style: "height: 5%; align-items: center;" }
        .col
          Time   
      - ReservationFrameCollection::HOURS.times do |num|
        .row.border{ style: "height: 5%; align-items: center;" }
          .col
            = l @day + num.hours, format: :hour
    - ReservationFrameCollection::DAYS.times do |num|
      - t1 = l @day + num.day, format: :day
      .col
        .row.border{ style: "height: 5%; align-items: center;" }
          .col
            = t1
            = check_box_tag t1, true, false, {class: "jsc-all jsc-val#{t1.delete('/')}"}
        = form.fields_for :reservation_frames  do |f|
          - t2 =  l f.object.start_time, format: :day
          - if t1 == t2 then
            .row.border{ style: "height: 5%; align-items: center;" }
              .col
                .form-check
                  = f.check_box :availability, class: "jscTimeChk#{t1.delete('/')}"
                  = f.hidden_field :start_time
                  = f.hidden_field :end_time
                  = f.hidden_field :teacher_id