%h1 ReservationFrames#index
%p Find me in app/views/reservation_frames/index.html.haml
= form_with model:@reservation_frames, url: reservation_frames_path do |f|
  .row
    .mb-3
      = f.submit t('search'), class: "btn btn-primary btn-sm"
  - t = Time.current.beginning_of_day
  .row.border
    .col.border
      .row.border{ style: "height: 5%; align-items: center;" }
        .col.border
          Time
      - 24.times do |num|
        .row.border{ style: "height: 5%; align-items: center;" }
          .col.border
            = l t + num.hours, format: :hour
    - 7.times do |num|
      .col.border
        .row.border{ style: "height: 5%; align-items: center;" }
          .col.border
            = l t + num.day, format: :day
        - 24.times do |num2|
          .row.border{ style: "height: 5%; align-items: center;" }
            .col.border
              .form-check
                - val = t + num.day + num2.hours 
                = f.check_box 'times[]', {class:"form-check-input"}, checked_value= val, false
                %label.form-check-label=num2