%h2= t('.sign_up')
= form_with model:@admin, url:admin_registration_path , id: 'new_admin', class: 'new_admin', local: true do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-3
    = f.label :email, class: "form-label"
    = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"
  .mb-3
    = f.label :password, class: "form-label"
    - if @minimum_password_length
      %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    = f.password_field :password, class: "form-control", autocomplete: "new-password"
  .mb-3
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password"
  .mb-3
    = f.submit t('.sign_up'), class: "btn btn-primary btn-sm"
= render "admins/shared/links"
