%h2= t('.forgot_your_password')
= form_with model:@admin, url: admin_password_path, id: 'new_admin', class: 'new_admin' do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-3
    = f.label :email, class: "form-label"
    = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email"
  .mb-3
    = f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary btn-sm"
= render "admins/shared/links"
